/* Time-stamp: <2021-04-16 10:04:25 lockywolf> */


/* Common sense. */

body {
  font-family: sans-serif;
  margin: auto;

}


main {
    line-height: 1.5em;
    border: dashed;
}

#content{
    padding: 2ex;
    max-width: 77ex;
    margin: auto;
    margin-top: 2ex;
    padding-top: 0;
}

/* Preamble: */
/* My own website navigation bar at the top. */
.navbar {
  background-color: #7F7F7F;
  border-radius: 0.4ex;
  font-size: 150%;
  text-align: center;
}

.navbar a {
  color: #F0F0F0;
  display: inline-block;
  /* padding: 1ex; */
  margin-right: 0.5ex;
  text-decoration: none;
  height: 0.75em;
}

.navbar a:hover {
  color: #050505;
}

/* Styling org-generated toc, based on ambrevar's ideas. */

#table-of-contents {
    background: white; 		/*broken:TODO*/
    max-height: 50%;
    max-width: 100%;
    overflow: auto;
    border-radius: 0.1ex 1ex 0.1ex 1ex;
    border: 0.3ex solid red;
    font-weight: bold;
    padding: 0 0.3ex;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: left;
    color: red;
}

#table-of-contents ul {
		display: none;
}
#table-of-contents:hover ul {
		display: block;
}

#table-of-contents h2 {
		font-size: 100%;
		margin: 0;
}


/* Postamble. Org-generated dates, copyright and such. */

footer {
    margin-top: 2ex;
}

.comments{
    max-width: 77ex;
    margin:auto;
}

.colophon {
  background-color: #7F7F7F;
  border-radius: 0.2ex;
  font-size: 50%;
}

.colophon p {
  color: #363636;
  display: inline-block;
  /* padding: 1ex; */
  text-decoration: none;
  height: 1em;
}

/* Fix HTML insanity. */
img {
    max-height: 100%;
    max-width: 100%;
    background-size: 100% 100%;
}

body {
    overflow-wrap: anywhere;
}

